In [1]:
pwd

u'/home/dsc/TFM'

In [2]:
sc

In [3]:
dataRaw = sc.textFile('marketing_pax.csv')

In [5]:
dataRaw.take(2)

[u'rloc^full_name^gender^age^date_of_birth^document_type^document_number^document_country^nationality^fqtv_data^general_status^boarding_status^acceptance_status^bag_status^customer_accepted^checkin_location^boarded_in_all_legs_flag^cabin_code^booking_class_code^airline_code^flight_number^departure_date_leg^quality_index^creation_date^advance_purchase^creator_office_id^creator_iata_number^creator_gds_code^creator_city_code^creator_lat^creator_lon^creator_country_code^creator_continent_name^creator_channel_code^booking_status_code^cabin_code_seg^booking_class_code_seg^pos_office_id^pos_iata_number^pos_gds_code^pos_city_code^pos_lat^pos_lon^pos_country_code^pos_continent_code^pos_channel_code^board_point^board_lat^board_lon^board_country_code^board_continent_code^off_point^off_lat^off_lon^off_country_code^off_continent_code^distance_seg^route^network^airline_code_seg^flight_number_seg^flight_type^revenue_amount_seg^emd_count^emd_amount^fuel_surcharge_amount_seg',
 u'60Z666^/MUZASDQUE^F^^^^^^^016037921MK/BXGE/^FD^CL^FI^IG^CAC^W^true^Y^W^XX^2075^2013-06-23^0.50^2015-05-03^49^LEUXXMM42^56495383^XX^LEU^42.338611^1.409167^ES^Europe^E^HK^Y^W^LEUXXMM42^56495383^M5^LEU^42.338611^1.409167^ES^Europe^E^MRV^44.21028^43.13528^RU^Europe^BRU^50.85045^4.34878^BE^Europe^2967.076044145874^BRU-MRV^Europe^XX^2075^I^0.00^^^42.00']

In [6]:
from pyspark.sql import *

In [7]:
df = sqlContext.read.csv('marketing_pax.csv', header=True, sep='^', inferSchema=True)

In [8]:
df.dtypes

[('rloc', 'string'),
 ('full_name', 'string'),
 ('gender', 'string'),
 ('age', 'int'),
 ('date_of_birth', 'timestamp'),
 ('document_type', 'string'),
 ('document_number', 'string'),
 ('document_country', 'string'),
 ('nationality', 'string'),
 ('fqtv_data', 'string'),
 ('general_status', 'string'),
 ('boarding_status', 'string'),
 ('acceptance_status', 'string'),
 ('bag_status', 'string'),
 ('customer_accepted', 'string'),
 ('checkin_location', 'string'),
 ('boarded_in_all_legs_flag', 'boolean'),
 ('cabin_code', 'string'),
 ('booking_class_code', 'string'),
 ('airline_code', 'string'),
 ('flight_number', 'string'),
 ('departure_date_leg', 'timestamp'),
 ('quality_index', 'double'),
 ('creation_date', 'timestamp'),
 ('advance_purchase', 'int'),
 ('creator_office_id', 'string'),
 ('creator_iata_number', 'int'),
 ('creator_gds_code', 'string'),
 ('creator_city_code', 'string'),
 ('creator_lat', 'double'),
 ('creator_lon', 'double'),
 ('creator_country_code', 'string'),
 ('creator_continent_name', 'string'),
 ('creator_channel_code', 'string'),
 ('booking_status_code', 'string'),
 ('cabin_code_seg', 'string'),
 ('booking_class_code_seg', 'string'),
 ('pos_office_id', 'string'),
 ('pos_iata_number', 'int'),
 ('pos_gds_code', 'string'),
 ('pos_city_code', 'string'),
 ('pos_lat', 'double'),
 ('pos_lon', 'double'),
 ('pos_country_code', 'string'),
 ('pos_continent_code', 'string'),
 ('pos_channel_code', 'string'),
 ('board_point', 'string'),
 ('board_lat', 'double'),
 ('board_lon', 'double'),
 ('board_country_code', 'string'),
 ('board_continent_code', 'string'),
 ('off_point', 'string'),
 ('off_lat', 'double'),
 ('off_lon', 'double'),
 ('off_country_code', 'string'),
 ('off_continent_code', 'string'),
 ('distance_seg', 'double'),
 ('route', 'string'),
 ('network', 'string'),
 ('airline_code_seg', 'string'),
 ('flight_number_seg', 'string'),
 ('flight_type', 'string'),
 ('revenue_amount_seg', 'double'),
 ('emd_count', 'int'),
 ('emd_amount', 'double'),
 ('fuel_surcharge_amount_seg', 'double')]

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.count()

9546302

In [11]:
header = df.first()

In [12]:
df.printSchema()

root
 |-- rloc: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- date_of_birth: timestamp (nullable = true)
 |-- document_type: string (nullable = true)
 |-- document_number: string (nullable = true)
 |-- document_country: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- fqtv_data: string (nullable = true)
 |-- general_status: string (nullable = true)
 |-- boarding_status: string (nullable = true)
 |-- acceptance_status: string (nullable = true)
 |-- bag_status: string (nullable = true)
 |-- customer_accepted: string (nullable = true)
 |-- checkin_location: string (nullable = true)
 |-- boarded_in_all_legs_flag: boolean (nullable = true)
 |-- cabin_code: string (nullable = true)
 |-- booking_class_code: string (nullable = true)
 |-- airline_code: string (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- departure_date_leg: timestamp (nullable = true)
 |-- quality_index: double (nullable = true)
 |-- creation_date: timestamp (nullable = true)
 |-- advance_purchase: integer (nullable = true)
 |-- creator_office_id: string (nullable = true)
 |-- creator_iata_number: integer (nullable = true)
 |-- creator_gds_code: string (nullable = true)
 |-- creator_city_code: string (nullable = true)
 |-- creator_lat: double (nullable = true)
 |-- creator_lon: double (nullable = true)
 |-- creator_country_code: string (nullable = true)
 |-- creator_continent_name: string (nullable = true)
 |-- creator_channel_code: string (nullable = true)
 |-- booking_status_code: string (nullable = true)
 |-- cabin_code_seg: string (nullable = true)
 |-- booking_class_code_seg: string (nullable = true)
 |-- pos_office_id: string (nullable = true)
 |-- pos_iata_number: integer (nullable = true)
 |-- pos_gds_code: string (nullable = true)
 |-- pos_city_code: string (nullable = true)
 |-- pos_lat: double (nullable = true)
 |-- pos_lon: double (nullable = true)
 |-- pos_country_code: string (nullable = true)
 |-- pos_continent_code: string (nullable = true)
 |-- pos_channel_code: string (nullable = true)
 |-- board_point: string (nullable = true)
 |-- board_lat: double (nullable = true)
 |-- board_lon: double (nullable = true)
 |-- board_country_code: string (nullable = true)
 |-- board_continent_code: string (nullable = true)
 |-- off_point: string (nullable = true)
 |-- off_lat: double (nullable = true)
 |-- off_lon: double (nullable = true)
 |-- off_country_code: string (nullable = true)
 |-- off_continent_code: string (nullable = true)
 |-- distance_seg: double (nullable = true)
 |-- route: string (nullable = true)
 |-- network: string (nullable = true)
 |-- airline_code_seg: string (nullable = true)
 |-- flight_number_seg: string (nullable = true)
 |-- flight_type: string (nullable = true)
 |-- revenue_amount_seg: double (nullable = true)
 |-- emd_count: integer (nullable = true)
 |-- emd_amount: double (nullable = true)
 |-- fuel_surcharge_amount_seg: double (nullable = true)

In [13]:
df.show(2, truncate=True)

+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
|  rloc|    full_name|gender| age|date_of_birth|document_type|document_number|document_country|nationality|        fqtv_data|general_status|boarding_status|acceptance_status|bag_status|customer_accepted|checkin_location|boarded_in_all_legs_flag|cabin_code|booking_class_code|airline_code|flight_number|  departure_date_leg|quality_index|       creation_date|advance_purchase|creator_office_id|creator_iata_number|creator_gds_code|creator_city_code|creator_lat|creator_lon|creator_country_code|creator_continent_name|creator_channel_code|booking_status_code|cabin_code_seg|booking_class_code_seg|pos_office_id|pos_iata_number|pos_gds_code|pos_city_code|  pos_lat| pos_lon|pos_country_code|pos_continent_code|pos_channel_code|board_point|board_lat|board_lon|board_country_code|board_continent_code|off_point| off_lat| off_lon|off_country_code|off_continent_code|     distance_seg|  route|network|airline_code_seg|flight_number_seg|flight_type|revenue_amount_seg|emd_count|emd_amount|fuel_surcharge_amount_seg|
+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
|60Z666|   /MUZASDQUE|     F|null|         null|         null|           null|            null|       null|016037921MK/BXGE/|            FD|             CL|               FI|        IG|              CAC|               W|                    true|         Y|                 W|          XX|         2075|2013-06-23 00:00:...|          0.5|2015-05-03 00:00:...|              49|        LEUXXMM42|           56495383|              XX|              LEU|  42.338611|   1.409167|                  ES|                Europe|                   E|                 HK|             Y|                     W|    LEUXXMM42|       56495383|          M5|          LEU|42.338611|1.409167|              ES|            Europe|               E|        MRV| 44.21028| 43.13528|                RU|              Europe|      BRU|50.85045| 4.34878|              BE|            Europe|2967.076044145874|BRU-MRV| Europe|              XX|             2075|          I|               0.0|     null|      null|                     42.0|
|612666|Z/MZFFUFGDGZQ|     M|null|         null|         null|           null|            null|       null|014452709MK/BXGE/|            FD|             CL|               FI|        IG|              CAC|            null|                    true|         Y|                 O|          XX|         9160|2014-04-01 00:00:...|          0.5|2016-03-23 00:00:...|               6|        LEUXXMM42|           56495383|              XX|              LEU|  42.338611|   1.409167|                  ES|                Europe|                   E|                 HK|             Y|                     O|    LEUXXMM42|       56495383|          44|          LEU|42.338611|1.409167|              ES|            Europe|               E|        BRU| 50.85045|  4.34878|                BE|              Europe|      LNZ|48.30639|14.28611|              AT|            Europe|769.5353415995593|BRU-LNZ| Europe|              XX|             9160|          I|             74.99|     null|      null|                    39.12|
+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
only showing top 2 rows

In [14]:
len(df.columns), df.columns

(66,
 ['rloc',
  'full_name',
  'gender',
  'age',
  'date_of_birth',
  'document_type',
  'document_number',
  'document_country',
  'nationality',
  'fqtv_data',
  'general_status',
  'boarding_status',
  'acceptance_status',
  'bag_status',
  'customer_accepted',
  'checkin_location',
  'boarded_in_all_legs_flag',
  'cabin_code',
  'booking_class_code',
  'airline_code',
  'flight_number',
  'departure_date_leg',
  'quality_index',
  'creation_date',
  'advance_purchase',
  'creator_office_id',
  'creator_iata_number',
  'creator_gds_code',
  'creator_city_code',
  'creator_lat',
  'creator_lon',
  'creator_country_code',
  'creator_continent_name',
  'creator_channel_code',
  'booking_status_code',
  'cabin_code_seg',
  'booking_class_code_seg',
  'pos_office_id',
  'pos_iata_number',
  'pos_gds_code',
  'pos_city_code',
  'pos_lat',
  'pos_lon',
  'pos_country_code',
  'pos_continent_code',
  'pos_channel_code',
  'board_point',
  'board_lat',
  'board_lon',
  'board_country_code',
  'board_continent_code',
  'off_point',
  'off_lat',
  'off_lon',
  'off_country_code',
  'off_continent_code',
  'distance_seg',
  'route',
  'network',
  'airline_code_seg',
  'flight_number_seg',
  'flight_type',
  'revenue_amount_seg',
  'emd_count',
  'emd_amount',
  'fuel_surcharge_amount_seg'])

In [15]:
df.describe().show()

+-------+------------------+------------------+-----------------+--------------------+-----------------+------------------+--------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-------------------------+
|summary|               age|     quality_index| advance_purchase| creator_iata_number|      creator_lat|       creator_lon|     pos_iata_number|           pos_lat|           pos_lon|         board_lat|         board_lon|          off_lat|           off_lon|      distance_seg|revenue_amount_seg|         emd_count|        emd_amount|fuel_surcharge_amount_seg|
+-------+------------------+------------------+-----------------+--------------------+-----------------+------------------+--------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-------------------------+
|  count|           3335052|           9546302|          9546302|             9249136|          9525262|           9525262|             9264331|           9264327|           9264327|           9546302|           9546302|          9546302|           9546302|           9546302|           9546302|            177751|            177751|                  9546302|
|   mean| 42.07697631101404|0.5169295922127751|68.63792314552798| 5.406343615295137E7|44.59018355303139|16.263497789667024| 5.241787366254844E7|44.529521546440776|16.291648311900747|48.723756743255144|3.6247899363288476|48.97927558369365|3.8193380093163567|2414.7145095319834| 79.06644566345848|1.0384189118485971|27.530711782212382|        49.84016124674081|
| stddev|18.453540328617056|0.2555025640891243| 72.3627782171629|2.1679453409615453E7|9.324865653355598| 38.27285830742958|2.3233347207665544E7| 9.232594428647936| 38.48504391786559| 9.355862482271744| 34.16707974053136|8.746335237940588| 32.07858563937365| 2520.835962367195|165.30218859970213|0.2268184804455995| 38.25303167729024|        65.70430557987943|
|    min|                 2|               0.0|             -285|                   4|            -46.4|        -178.12511|                   4|             -46.4|        -178.12511|        -22.018431|           -135.33|       -22.018431|           -135.33|  93.9504865327442|               0.0|                 1|               0.0|                      0.0|
|    max|               153|               1.0|             1055|            99999999|         78.22334|         176.24516|            99999999|          78.22334|         176.24516|          70.48385|         129.87361|          71.0357|         129.87361| 9299.449949999413|          61959.28|                10|            1763.0|                  56300.0|
+-------+------------------+------------------+-----------------+--------------------+-----------------+------------------+--------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-------------------------+

In [ ]:
df.select('gender','age').show(15)