In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pyspark
sc = pyspark.SparkContext()

In [4]:
sc

In [5]:
pwd

u'/Users/Clarita/Desktop/tfm'

In [6]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [7]:
sqlContext = SQLContext(sc)

# Exploring and analysing the dataset

In [8]:
df = sqlContext.read.csv('marketing_pax.csv', header=True, sep='^', inferSchema=True)

In [13]:
df.dtypes

[('rloc', 'string'),
 ('full_name', 'string'),
 ('gender', 'string'),
 ('age', 'int'),
 ('date_of_birth', 'timestamp'),
 ('document_type', 'string'),
 ('document_number', 'string'),
 ('document_country', 'string'),
 ('nationality', 'string'),
 ('fqtv_data', 'string'),
 ('general_status', 'string'),
 ('boarding_status', 'string'),
 ('acceptance_status', 'string'),
 ('bag_status', 'string'),
 ('customer_accepted', 'string'),
 ('checkin_location', 'string'),
 ('boarded_in_all_legs_flag', 'boolean'),
 ('cabin_code', 'string'),
 ('booking_class_code', 'string'),
 ('airline_code', 'string'),
 ('flight_number', 'string'),
 ('departure_date_leg', 'timestamp'),
 ('quality_index', 'double'),
 ('creation_date', 'timestamp'),
 ('advance_purchase', 'int'),
 ('creator_office_id', 'string'),
 ('creator_iata_number', 'int'),
 ('creator_gds_code', 'string'),
 ('creator_city_code', 'string'),
 ('creator_lat', 'double'),
 ('creator_lon', 'double'),
 ('creator_country_code', 'string'),
 ('creator_continent_name', 'string'),
 ('creator_channel_code', 'string'),
 ('booking_status_code', 'string'),
 ('cabin_code_seg', 'string'),
 ('booking_class_code_seg', 'string'),
 ('pos_office_id', 'string'),
 ('pos_iata_number', 'int'),
 ('pos_gds_code', 'string'),
 ('pos_city_code', 'string'),
 ('pos_lat', 'double'),
 ('pos_lon', 'double'),
 ('pos_country_code', 'string'),
 ('pos_continent_code', 'string'),
 ('pos_channel_code', 'string'),
 ('board_point', 'string'),
 ('board_lat', 'double'),
 ('board_lon', 'double'),
 ('board_country_code', 'string'),
 ('board_continent_code', 'string'),
 ('off_point', 'string'),
 ('off_lat', 'double'),
 ('off_lon', 'double'),
 ('off_country_code', 'string'),
 ('off_continent_code', 'string'),
 ('distance_seg', 'double'),
 ('route', 'string'),
 ('network', 'string'),
 ('airline_code_seg', 'string'),
 ('flight_number_seg', 'string'),
 ('flight_type', 'string'),
 ('revenue_amount_seg', 'double'),
 ('emd_count', 'int'),
 ('emd_amount', 'double'),
 ('fuel_surcharge_amount_seg', 'double')]

In [14]:
type(df)

pyspark.sql.dataframe.DataFrame

In [15]:
df.count()

9546302

In [16]:
df.head()

Row(rloc=u'60Z666', full_name=u'/MUZASDQUE', gender=u'F', age=None, date_of_birth=None, document_type=None, document_number=None, document_country=None, nationality=None, fqtv_data=u'016037921MK/BXGE/', general_status=u'FD', boarding_status=u'CL', acceptance_status=u'FI', bag_status=u'IG', customer_accepted=u'CAC', checkin_location=u'W', boarded_in_all_legs_flag=True, cabin_code=u'Y', booking_class_code=u'W', airline_code=u'XX', flight_number=u'2075', departure_date_leg=datetime.datetime(2013, 6, 23, 0, 0), quality_index=0.5, creation_date=datetime.datetime(2015, 5, 3, 0, 0), advance_purchase=49, creator_office_id=u'LEUXXMM42', creator_iata_number=56495383, creator_gds_code=u'XX', creator_city_code=u'LEU', creator_lat=42.338611, creator_lon=1.409167, creator_country_code=u'ES', creator_continent_name=u'Europe', creator_channel_code=u'E', booking_status_code=u'HK', cabin_code_seg=u'Y', booking_class_code_seg=u'W', pos_office_id=u'LEUXXMM42', pos_iata_number=56495383, pos_gds_code=u'M5', pos_city_code=u'LEU', pos_lat=42.338611, pos_lon=1.409167, pos_country_code=u'ES', pos_continent_code=u'Europe', pos_channel_code=u'E', board_point=u'MRV', board_lat=44.21028, board_lon=43.13528, board_country_code=u'RU', board_continent_code=u'Europe', off_point=u'BRU', off_lat=50.85045, off_lon=4.34878, off_country_code=u'BE', off_continent_code=u'Europe', distance_seg=2967.076044145874, route=u'BRU-MRV', network=u'Europe', airline_code_seg=u'XX', flight_number_seg=u'2075', flight_type=u'I', revenue_amount_seg=0.0, emd_count=None, emd_amount=None, fuel_surcharge_amount_seg=42.0)

In [9]:
df.printSchema()

root
 |-- rloc: string (nullable = true)
 |-- full_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- date_of_birth: timestamp (nullable = true)
 |-- document_type: string (nullable = true)
 |-- document_number: string (nullable = true)
 |-- document_country: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- fqtv_data: string (nullable = true)
 |-- general_status: string (nullable = true)
 |-- boarding_status: string (nullable = true)
 |-- acceptance_status: string (nullable = true)
 |-- bag_status: string (nullable = true)
 |-- customer_accepted: string (nullable = true)
 |-- checkin_location: string (nullable = true)
 |-- boarded_in_all_legs_flag: boolean (nullable = true)
 |-- cabin_code: string (nullable = true)
 |-- booking_class_code: string (nullable = true)
 |-- airline_code: string (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- departure_date_leg: timestamp (nullable = true)
 |-- quality_index: double (nullable = true)
 |-- creation_date: timestamp (nullable = true)
 |-- advance_purchase: integer (nullable = true)
 |-- creator_office_id: string (nullable = true)
 |-- creator_iata_number: integer (nullable = true)
 |-- creator_gds_code: string (nullable = true)
 |-- creator_city_code: string (nullable = true)
 |-- creator_lat: double (nullable = true)
 |-- creator_lon: double (nullable = true)
 |-- creator_country_code: string (nullable = true)
 |-- creator_continent_name: string (nullable = true)
 |-- creator_channel_code: string (nullable = true)
 |-- booking_status_code: string (nullable = true)
 |-- cabin_code_seg: string (nullable = true)
 |-- booking_class_code_seg: string (nullable = true)
 |-- pos_office_id: string (nullable = true)
 |-- pos_iata_number: integer (nullable = true)
 |-- pos_gds_code: string (nullable = true)
 |-- pos_city_code: string (nullable = true)
 |-- pos_lat: double (nullable = true)
 |-- pos_lon: double (nullable = true)
 |-- pos_country_code: string (nullable = true)
 |-- pos_continent_code: string (nullable = true)
 |-- pos_channel_code: string (nullable = true)
 |-- board_point: string (nullable = true)
 |-- board_lat: double (nullable = true)
 |-- board_lon: double (nullable = true)
 |-- board_country_code: string (nullable = true)
 |-- board_continent_code: string (nullable = true)
 |-- off_point: string (nullable = true)
 |-- off_lat: double (nullable = true)
 |-- off_lon: double (nullable = true)
 |-- off_country_code: string (nullable = true)
 |-- off_continent_code: string (nullable = true)
 |-- distance_seg: double (nullable = true)
 |-- route: string (nullable = true)
 |-- network: string (nullable = true)
 |-- airline_code_seg: string (nullable = true)
 |-- flight_number_seg: string (nullable = true)
 |-- flight_type: string (nullable = true)
 |-- revenue_amount_seg: double (nullable = true)
 |-- emd_count: integer (nullable = true)
 |-- emd_amount: double (nullable = true)
 |-- fuel_surcharge_amount_seg: double (nullable = true)

In [14]:
df.show(2, truncate=True)

+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
|  rloc|    full_name|gender| age|date_of_birth|document_type|document_number|document_country|nationality|        fqtv_data|general_status|boarding_status|acceptance_status|bag_status|customer_accepted|checkin_location|boarded_in_all_legs_flag|cabin_code|booking_class_code|airline_code|flight_number|  departure_date_leg|quality_index|       creation_date|advance_purchase|creator_office_id|creator_iata_number|creator_gds_code|creator_city_code|creator_lat|creator_lon|creator_country_code|creator_continent_name|creator_channel_code|booking_status_code|cabin_code_seg|booking_class_code_seg|pos_office_id|pos_iata_number|pos_gds_code|pos_city_code|  pos_lat| pos_lon|pos_country_code|pos_continent_code|pos_channel_code|board_point|board_lat|board_lon|board_country_code|board_continent_code|off_point| off_lat| off_lon|off_country_code|off_continent_code|     distance_seg|  route|network|airline_code_seg|flight_number_seg|flight_type|revenue_amount_seg|emd_count|emd_amount|fuel_surcharge_amount_seg|
+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
|60Z666|   /MUZASDQUE|     F|null|         null|         null|           null|            null|       null|016037921MK/BXGE/|            FD|             CL|               FI|        IG|              CAC|               W|                    true|         Y|                 W|          XX|         2075|2013-06-23 00:00:...|          0.5|2015-05-03 00:00:...|              49|        LEUXXMM42|           56495383|              XX|              LEU|  42.338611|   1.409167|                  ES|                Europe|                   E|                 HK|             Y|                     W|    LEUXXMM42|       56495383|          M5|          LEU|42.338611|1.409167|              ES|            Europe|               E|        MRV| 44.21028| 43.13528|                RU|              Europe|      BRU|50.85045| 4.34878|              BE|            Europe|2967.076044145874|BRU-MRV| Europe|              XX|             2075|          I|               0.0|     null|      null|                     42.0|
|612666|Z/MZFFUFGDGZQ|     M|null|         null|         null|           null|            null|       null|014452709MK/BXGE/|            FD|             CL|               FI|        IG|              CAC|            null|                    true|         Y|                 O|          XX|         9160|2014-04-01 00:00:...|          0.5|2016-03-23 00:00:...|               6|        LEUXXMM42|           56495383|              XX|              LEU|  42.338611|   1.409167|                  ES|                Europe|                   E|                 HK|             Y|                     O|    LEUXXMM42|       56495383|          44|          LEU|42.338611|1.409167|              ES|            Europe|               E|        BRU| 50.85045|  4.34878|                BE|              Europe|      LNZ|48.30639|14.28611|              AT|            Europe|769.5353415995593|BRU-LNZ| Europe|              XX|             9160|          I|             74.99|     null|      null|                    39.12|
+------+-------------+------+----+-------------+-------------+---------------+----------------+-----------+-----------------+--------------+---------------+-----------------+----------+-----------------+----------------+------------------------+----------+------------------+------------+-------------+--------------------+-------------+--------------------+----------------+-----------------+-------------------+----------------+-----------------+-----------+-----------+--------------------+----------------------+--------------------+-------------------+--------------+----------------------+-------------+---------------+------------+-------------+---------+--------+----------------+------------------+----------------+-----------+---------+---------+------------------+--------------------+---------+--------+--------+----------------+------------------+-----------------+-------+-------+----------------+-----------------+-----------+------------------+---------+----------+-------------------------+
only showing top 2 rows

In [17]:
len(df.columns), df.columns

(66,
 ['rloc',
  'full_name',
  'gender',
  'age',
  'date_of_birth',
  'document_type',
  'document_number',
  'document_country',
  'nationality',
  'fqtv_data',
  'general_status',
  'boarding_status',
  'acceptance_status',
  'bag_status',
  'customer_accepted',
  'checkin_location',
  'boarded_in_all_legs_flag',
  'cabin_code',
  'booking_class_code',
  'airline_code',
  'flight_number',
  'departure_date_leg',
  'quality_index',
  'creation_date',
  'advance_purchase',
  'creator_office_id',
  'creator_iata_number',
  'creator_gds_code',
  'creator_city_code',
  'creator_lat',
  'creator_lon',
  'creator_country_code',
  'creator_continent_name',
  'creator_channel_code',
  'booking_status_code',
  'cabin_code_seg',
  'booking_class_code_seg',
  'pos_office_id',
  'pos_iata_number',
  'pos_gds_code',
  'pos_city_code',
  'pos_lat',
  'pos_lon',
  'pos_country_code',
  'pos_continent_code',
  'pos_channel_code',
  'board_point',
  'board_lat',
  'board_lon',
  'board_country_code',
  'board_continent_code',
  'off_point',
  'off_lat',
  'off_lon',
  'off_country_code',
  'off_continent_code',
  'distance_seg',
  'route',
  'network',
  'airline_code_seg',
  'flight_number_seg',
  'flight_type',
  'revenue_amount_seg',
  'emd_count',
  'emd_amount',
  'fuel_surcharge_amount_seg'])

In [12]:
df.select('gender', 'age').show(5)

+------+----+
|gender| age|
+------+----+
|     F|null|
|     M|null|
|     M|  33|
|     F|  40|
|     F|null|
+------+----+
only showing top 5 rows

In [18]:
df.select('rloc').show(5)

+------+
|  rloc|
+------+
|60Z666|
|612666|
|818666|
|827666|
|8PD666|
+------+
only showing top 5 rows

In [13]:
df.select('Document_number').show(5)

+---------------+
|Document_number|
+---------------+
|           null|
|           null|
|      39939WV44|
|       5719T651|
|           null|
+---------------+
only showing top 5 rows

In [10]:
import pandas as pd
import requests

In [23]:
df.groupBy('rloc').count().show(10)

+------+-----+
|  rloc|count|
+------+-----+
|MW0669|    2|
|DKA66P|    4|
|MIJ66V|    2|
|ARB66H|    4|
|9KS66J|    2|
|NFB66J|    8|
|ZJD66K|    8|
|JFB676|    4|
|JWJ670|    4|
|KW3670|    6|
+------+-----+
only showing top 10 rows

In [11]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [28]:
df.agg(countDistinct(df.rloc)).show()

+--------------------+
|count(DISTINCT rloc)|
+--------------------+
|             2605835|
+--------------------+

In [13]:
#contamos el número de billetes existente (hay muchos null)
df.filter(df.document_number.isNotNull()).count()

2636677

# Cleansing and preparing the dataset

In [16]:
#creamos el dataframe vuelos
df.createOrReplaceTempView("vuelos")

In [17]:
#contamos el número de billetes existente (hay muchos null)
sqlDF = sqlContext.sql("SELECT COUNT(document_number) FROM vuelos WHERE document_number IS NOT NULL")

In [34]:
sqlDF.show()

+----------------------+
|count(document_number)|
+----------------------+
|               2636677|
+----------------------+

In [18]:
sqlDF = sqlContext.sql("SELECT COUNT(*), COUNT(DISTINCT rloc) FROM vuelos")

In [36]:
sqlDF.show()

+--------+--------------------+
|count(1)|count(DISTINCT rloc)|
+--------+--------------------+
| 9546302|             2605835|
+--------+--------------------+

In [19]:
#departure_date_leg count
sqlDF = sqlContext.sql("SELECT COUNT(departure_date_leg) FROM vuelos")

In [38]:
sqlDF.show()

+-------------------------+
|count(departure_date_leg)|
+-------------------------+
|                  9546300|
+-------------------------+

In [20]:
df.createOrReplaceTempView("fechas_salida_vuelos")

In [21]:
#departure_date_leg count

sqlDF = sqlContext.sql(sqlQuery="select departure_date_leg, count(*)\
from vuelos group by departure_date_leg order by 1")

In [92]:
sqlDF.orderBy(desc("departure_date_leg")).show(150)
#selecciono hasta el 01/01/2014

+--------------------+--------+
|  departure_date_leg|count(1)|
+--------------------+--------+
|2014-07-14 00:00:...|       1|
|2014-06-04 00:00:...|       1|
|2014-05-02 00:00:...|       1|
|2014-04-30 00:00:...|       2|
|2014-04-29 00:00:...|       1|
|2014-04-26 00:00:...|       6|
|2014-04-14 00:00:...|       7|
|2014-04-13 00:00:...|       1|
|2014-04-12 00:00:...|       4|
|2014-04-11 00:00:...|       3|
|2014-04-10 00:00:...|       3|
|2014-04-09 00:00:...|      28|
|2014-04-08 00:00:...|    9273|
|2014-04-07 00:00:...|   12259|
|2014-04-06 00:00:...|   14274|
|2014-04-05 00:00:...|   13120|
|2014-04-04 00:00:...|   20702|
|2014-04-03 00:00:...|   19973|
|2014-04-02 00:00:...|   17897|
|2014-04-01 00:00:...|   16563|
|2014-03-31 00:00:...|   19681|
|2014-03-30 00:00:...|   20607|
|2014-03-29 00:00:...|   18637|
|2014-03-28 00:00:...|   23506|
|2014-03-27 00:00:...|   22086|
|2014-03-26 00:00:...|   19947|
|2014-03-25 00:00:...|   18963|
|2014-03-24 00:00:...|   21594|
|2014-03-23 00:00:...|   21193|
|2014-03-22 00:00:...|   20174|
|2014-03-21 00:00:...|   24563|
|2014-03-20 00:00:...|   22819|
|2014-03-19 00:00:...|   20728|
|2014-03-18 00:00:...|   19215|
|2014-03-17 00:00:...|   21845|
|2014-03-16 00:00:...|   21312|
|2014-03-15 00:00:...|   19800|
|2014-03-14 00:00:...|   25050|
|2014-03-13 00:00:...|   22222|
|2014-03-12 00:00:...|   20236|
|2014-03-11 00:00:...|   18877|
|2014-03-10 00:00:...|   22102|
|2014-03-09 00:00:...|   21742|
|2014-03-08 00:00:...|   20659|
|2014-03-07 00:00:...|   24400|
|2014-03-06 00:00:...|   21237|
|2014-03-05 00:00:...|   19613|
|2014-03-04 00:00:...|   17233|
|2014-03-03 00:00:...|   21044|
|2014-03-02 00:00:...|   21023|
|2014-03-01 00:00:...|   20747|
|2014-02-28 00:00:...|   25293|
|2014-02-27 00:00:...|   22003|
|2014-02-26 00:00:...|   18957|
|2014-02-25 00:00:...|   17596|
|2014-02-24 00:00:...|   21418|
|2014-02-23 00:00:...|   21989|
|2014-02-22 00:00:...|   22263|
|2014-02-21 00:00:...|   24954|
|2014-02-20 00:00:...|   21594|
|2014-02-19 00:00:...|   19436|
|2014-02-18 00:00:...|   16892|
|2014-02-17 00:00:...|   20436|
|2014-02-16 00:00:...|   21702|
|2014-02-15 00:00:...|   20043|
|2014-02-14 00:00:...|   23740|
|2014-02-13 00:00:...|   21609|
|2014-02-12 00:00:...|   20191|
|2014-02-11 00:00:...|   17536|
|2014-02-10 00:00:...|   19986|
|2014-02-09 00:00:...|   19410|
|2014-02-08 00:00:...|   17022|
|2014-02-07 00:00:...|   22842|
|2014-02-06 00:00:...|   20211|
|2014-02-05 00:00:...|   19296|
|2014-02-04 00:00:...|   17891|
|2014-02-03 00:00:...|   18775|
|2014-02-02 00:00:...|   18174|
|2014-02-01 00:00:...|   15826|
|2014-01-31 00:00:...|   21025|
|2014-01-30 00:00:...|   19390|
|2014-01-29 00:00:...|   18669|
|2014-01-28 00:00:...|   16417|
|2014-01-27 00:00:...|   17277|
|2014-01-26 00:00:...|   17521|
|2014-01-25 00:00:...|   16151|
|2014-01-24 00:00:...|   21777|
|2014-01-23 00:00:...|   18927|
|2014-01-22 00:00:...|   17261|
|2014-01-21 00:00:...|   15768|
|2014-01-20 00:00:...|   17260|
|2014-01-19 00:00:...|   17638|
|2014-01-18 00:00:...|   15129|
|2014-01-17 00:00:...|   20677|
|2014-01-16 00:00:...|   19530|
|2014-01-15 00:00:...|   18782|
|2014-01-14 00:00:...|   16345|
|2014-01-13 00:00:...|   17667|
|2014-01-12 00:00:...|   16497|
|2014-01-11 00:00:...|   15040|
|2014-01-10 00:00:...|   19421|
|2014-01-09 00:00:...|   17833|
|2014-01-08 00:00:...|   18055|
|2014-01-07 00:00:...|   18906|
|2014-01-06 00:00:...|   18795|
|2014-01-05 00:00:...|   18438|
|2014-01-04 00:00:...|   18774|
|2014-01-03 00:00:...|   20792|
|2014-01-02 00:00:...|   18630|
|2014-01-01 00:00:...|   14741|
|2013-12-31 00:00:...|   10419|
|2013-12-30 00:00:...|   20311|
|2013-12-29 00:00:...|   19899|
|2013-12-28 00:00:...|   19679|
|2013-12-27 00:00:...|   22229|
|2013-12-26 00:00:...|   19154|
|2013-12-25 00:00:...|    2710|
|2013-12-24 00:00:...|    4182|
|2013-12-23 00:00:...|   19115|
|2013-12-22 00:00:...|   20288|
|2013-12-21 00:00:...|   19673|
|2013-12-20 00:00:...|   24371|
|2013-12-19 00:00:...|   21890|
|2013-12-18 00:00:...|   19953|
|2013-12-17 00:00:...|   17333|
|2013-12-16 00:00:...|   20313|
|2013-12-15 00:00:...|   17133|
|2013-12-14 00:00:...|   15864|
|2013-12-13 00:00:...|   21857|
|2013-12-12 00:00:...|   21199|
|2013-12-11 00:00:...|   19870|
|2013-12-10 00:00:...|   19118|
|2013-12-09 00:00:...|   23537|
|2013-12-08 00:00:...|   19413|
|2013-12-07 00:00:...|   15673|
|2013-12-06 00:00:...|   20050|
|2013-12-05 00:00:...|   22243|
|2013-12-04 00:00:...|   19817|
|2013-12-03 00:00:...|   17264|
|2013-12-02 00:00:...|   20155|
|2013-12-01 00:00:...|   18457|
|2013-11-30 00:00:...|   14911|
|2013-11-29 00:00:...|   22447|
|2013-11-28 00:00:...|   20420|
|2013-11-27 00:00:...|   18921|
|2013-11-26 00:00:...|   17003|
|2013-11-25 00:00:...|   19403|
|2013-11-24 00:00:...|   18044|
|2013-11-23 00:00:...|   14336|
|2013-11-22 00:00:...|   21008|
+--------------------+--------+
only showing top 150 rows

In [83]:
sqlDF.orderBy(asc("departure_date_leg")).show(100)
#veo que a partir del 01/01/2013 hay más volumen de datos

+--------------------+--------+
|  departure_date_leg|count(1)|
+--------------------+--------+
|                null|       2|
|2012-06-27 00:00:...|       1|
|2012-07-05 00:00:...|       2|
|2012-07-12 00:00:...|       2|
|2012-07-14 00:00:...|       2|
|2012-07-15 00:00:...|       2|
|2012-07-19 00:00:...|       1|
|2012-07-22 00:00:...|       1|
|2012-07-23 00:00:...|       2|
|2012-08-01 00:00:...|       4|
|2012-08-03 00:00:...|       1|
|2012-08-06 00:00:...|      32|
|2012-08-09 00:00:...|       1|
|2012-08-16 00:00:...|       5|
|2012-08-20 00:00:...|       4|
|2012-08-23 00:00:...|       1|
|2012-08-24 00:00:...|       1|
|2012-08-30 00:00:...|       2|
|2012-09-03 00:00:...|       1|
|2012-09-04 00:00:...|       4|
|2012-09-10 00:00:...|       2|
|2012-09-12 00:00:...|       1|
|2012-09-15 00:00:...|       2|
|2012-09-16 00:00:...|       2|
|2012-09-18 00:00:...|       2|
|2012-09-19 00:00:...|       1|
|2012-09-20 00:00:...|       3|
|2012-09-30 00:00:...|       2|
|2012-10-06 00:00:...|       2|
|2012-10-30 00:00:...|       2|
|2012-10-31 00:00:...|       2|
|2012-11-02 00:00:...|       2|
|2012-11-03 00:00:...|       2|
|2012-11-04 00:00:...|       1|
|2012-11-06 00:00:...|       2|
|2012-11-08 00:00:...|       2|
|2012-11-14 00:00:...|       5|
|2012-11-16 00:00:...|       2|
|2012-11-18 00:00:...|       2|
|2012-11-20 00:00:...|       4|
|2012-11-21 00:00:...|       1|
|2012-11-23 00:00:...|       2|
|2012-11-25 00:00:...|       2|
|2012-11-29 00:00:...|       2|
|2012-11-30 00:00:...|       2|
|2012-12-03 00:00:...|       2|
|2012-12-04 00:00:...|      13|
|2012-12-05 00:00:...|       1|
|2012-12-07 00:00:...|       1|
|2012-12-08 00:00:...|       1|
|2012-12-09 00:00:...|       2|
|2012-12-10 00:00:...|       3|
|2012-12-11 00:00:...|       5|
|2012-12-13 00:00:...|       8|
|2012-12-14 00:00:...|       6|
|2012-12-15 00:00:...|      12|
|2012-12-16 00:00:...|       1|
|2012-12-17 00:00:...|       7|
|2012-12-18 00:00:...|       7|
|2012-12-19 00:00:...|      32|
|2012-12-20 00:00:...|      15|
|2012-12-21 00:00:...|       6|
|2012-12-22 00:00:...|       5|
|2012-12-23 00:00:...|       1|
|2012-12-24 00:00:...|       1|
|2012-12-25 00:00:...|       1|
|2012-12-26 00:00:...|      19|
|2012-12-27 00:00:...|      23|
|2012-12-28 00:00:...|      11|
|2012-12-29 00:00:...|      30|
|2012-12-30 00:00:...|    3622|
|2012-12-31 00:00:...|    4451|
|2013-01-01 00:00:...|   14033|
|2013-01-02 00:00:...|   19776|
|2013-01-03 00:00:...|   19195|
|2013-01-04 00:00:...|   19890|
|2013-01-05 00:00:...|   17158|
|2013-01-06 00:00:...|   17824|
|2013-01-07 00:00:...|   19867|
|2013-01-08 00:00:...|   17037|
|2013-01-09 00:00:...|   15962|
|2013-01-10 00:00:...|   17566|
|2013-01-11 00:00:...|   18278|
|2013-01-12 00:00:...|   15338|
|2013-01-13 00:00:...|   16741|
|2013-01-14 00:00:...|   17221|
|2013-01-15 00:00:...|   16083|
|2013-01-16 00:00:...|   17617|
|2013-01-17 00:00:...|   18738|
|2013-01-18 00:00:...|   19551|
|2013-01-19 00:00:...|   16189|
|2013-01-20 00:00:...|   17719|
|2013-01-21 00:00:...|   18913|
|2013-01-22 00:00:...|   16756|
|2013-01-23 00:00:...|   17593|
|2013-01-24 00:00:...|   19210|
|2013-01-25 00:00:...|   20886|
|2013-01-26 00:00:...|   17667|
|2013-01-27 00:00:...|   18648|
|2013-01-28 00:00:...|   19375|
+--------------------+--------+
only showing top 100 rows

In [22]:
sqlDF.select(last('departure_date_leg', ignorenulls=True)).show()

+------------------------------+
|last(departure_date_leg, true)|
+------------------------------+
|          2014-07-14 00:00:...|
+------------------------------+

In [82]:
sqlDF.select(first('departure_date_leg', ignorenulls=True)).show()

+-------------------------------+
|first(departure_date_leg, true)|
+-------------------------------+
|           2012-06-27 00:00:...|
+-------------------------------+

In [ ]:
fechas_vuelos = df.groupBy(df['departure_date_leg']).count().toPandas().sort_values(by='count', ascending=False)

In [ ]:
vuelos_por_fecha = pd.DataFrame(fechas_vuelos)

In [23]:
vuelos_por_fecha.sort_values('count')

In [ ]:
#vemos dónde empieza a haber un volumen de datos más homogéneo
vuelos_por_fecha.nsmallest(100, 'count')

In [ ]:
vuelos_por_fecha.nlargest(150, 'count')

In [104]:
#acotamos los datos al rango de fechas con un volumen homogéneo
sqlDF2 = sqlContext.sql(sqlQuery="select * from vuelos where departure_date_leg between '2013-01-01' and '2014-01-01'\
and document_number is not null \
and booking_status_code='HK'\
and quality_index = 1")

In [115]:
sqlDF2.registerTempTable("vuelos_clientes")

In [111]:
sqlDF2.count()

526851

In [113]:
sqlDF2.agg(countDistinct(sqlDF2.document_number)).show()

+-------------------------------+
|count(DISTINCT document_number)|
+-------------------------------+
|                         175817|
+-------------------------------+

In [114]:
sqlDF2.groupBy('document_number').count().show(10)

+---------------+-----+
|document_number|count|
+---------------+-----+
|      66289BS28|    2|
|      708061476|    4|
|      20571FT30|    3|
|       69155025|    2|
|      991926414|    2|
|       78642406|    4|
|      97657BL93|   15|
|       41748915|    3|
|      31068BM21|    2|
|      15064BY96|    2|
+---------------+-----+
only showing top 10 rows

In [116]:
#documentos únicos
sqlDF3 = sqlContext.sql(sqlQuery="select document_number, count(*) \
from (select document_number, gender, date_of_birth, nationality, count(*) as count \
from vuelos_clientes group by document_number, gender, date_of_birth, nationality) as a group by document_number \
having count(*)=1")

In [117]:
#vemos que ya no hay documentos duplicados
sqlDF3.groupBy('document_number').count().show(10)

+---------------+-----+
|document_number|count|
+---------------+-----+
|       78642406|    1|
|       2828Y769|    1|
|      XP325ZZ17|    1|
|      33772PI56|    1|
|      02376W459|    1|
|      29318BV96|    1|
|      9115254OW|    1|
|      770625469|    1|
|      71263FW84|    1|
|      08869BO31|    1|
+---------------+-----+
only showing top 10 rows

In [118]:
sqlDF3.count()

175333

In [119]:
sqlDF3.registerTempTable("documentos_unicos")

In [159]:
sqlDF4 = sqlContext.sql(sqlQuery = "select a.* from vuelos_clientes \
as a inner join documentos_unicos as b on a.document_number = b.document_number")

In [214]:
sqlDF4.registerTempTable("clientes_unicos")

In [124]:
sqlDF4.count()

523541

In [125]:
sqlDF4.agg(countDistinct(sqlDF4.document_number)).show()

+-------------------------------+
|count(DISTINCT document_number)|
+-------------------------------+
|                         175333|
+-------------------------------+

In [126]:
sqlDF4.groupBy('document_number').count().show(10)

+---------------+-----+
|document_number|count|
+---------------+-----+
|      000744336|    2|
|      00152Y444|    2|
|      002946569|    4|
|      00453BS41|    1|
|      00517BF34|    2|
|      00714BO74|    2|
|      00908BD78|    2|
|      01060BK97|    2|
|      013178711|    4|
|      01651Y243|    4|
+---------------+-----+
only showing top 10 rows

## Preparing the dataframe for the clustering

In [236]:
#creamos las columnas que nos interesan
sqlDF6 = sqlContext.sql(sqlQuery="select document_number,\
count(distinct(concat(document_number, ',', rloc))) as frecuency, \
sum(revenue_amount_seg) as money, \
datediff(to_date('2014-01-01 00:00:00'), to_date(max(departure_date_leg))) as recency \
from clientes_unicos group by document_number")

In [247]:
sqlDF6.registerTempTable('rfm_doc_unicos')

In [248]:
sqlDF6.select('frecuency', 'recency', 'money', 'document_number').show(5)

KeyboardInterrupt:

In [252]:
from pyspark.sql import HiveContext

In [253]:
sqlContext = HiveContext(sc)

In [255]:
hive_context = HiveContext(sc)

# RFM with MLlib

#### After creating the dataframe with the neccesary columns, we are going to perform an analysis on the data obtained, in order to cluster the potential clients and study their behaviour

In [244]:
from pyspark.ml.clustering import KMeans

In [246]:
type('recency')

str

In [256]:
dataset_rfm = hive_context.table('rfm_doc_unicos')

In [257]:
dataset_rfm.show()

+---------------+---------+------------------+-------+
|document_number|frecuency|             money|recency|
+---------------+---------+------------------+-------+
|      000744336|        1|            221.26|     28|
|      00152Y444|        1|             205.0|    171|
|      002946569|        1|            291.68|    282|
|      00453BS41|        1|            250.51|     22|
|      00517BF34|        1|             313.0|     32|
|      00714BO74|        1|             313.0|     32|
|      00908BD78|        1|             266.0|    197|
|      01060BK97|        1|               0.0|     35|
|      013178711|        1|151.03999999999996|    328|
|      01651Y243|        1|504.15999999999997|    113|
|      017118282|        1|             248.3|    307|
|       01795150|        1|             121.0|     99|
|      02054BY00|        1|               0.0|     49|
|      02240BO12|        1|              82.5|     52|
|      02376W459|        1|              2.96|     26|
|      0249756MF|        1|            559.78|    157|
|      02577FT46|        2|1179.5900000000001|    205|
|      02681BT96|        1|             207.3|     45|
|      02822Y600|        1|            269.44|    178|
|      02900FT67|        1|            432.14|     79|
+---------------+---------+------------------+-------+
only showing top 20 rows

In [259]:
type(dataset_rfm)

pyspark.sql.dataframe.DataFrame

In [260]:
cols = dataset_rfm.columns

In [263]:
from pyspark.sql.types import DoubleType

In [265]:
dataset_rfm.frecuency.cast("integer").alias('frecuencies')

Column<CAST(frecuency AS INT) AS `frecuencies`>

In [269]:
dataset_rfm.dtypes

[('document_number', 'string'),
 ('frecuency', 'bigint'),
 ('money', 'double'),
 ('recency', 'int')]

In [270]:
dataset_rfm.head()

Row(document_number=u'000744336', frecuency=1, money=221.26, recency=28)

In [271]:
dataset_rfm.count()

175333

In [277]:
import pandas as pd
import numpy as np

In [272]:
numericCols = ['frecuency', 'recency', 'money']

In [275]:
rfm = dataset_rfm[numericCols]

In [278]:
rfm['money_avg'] = rfm.money / rfm.frecuency

TypeError: 'DataFrame' object does not support item assignment

In [280]:
rfm.withColumn('money_avg', rfm.money / rfm.frecuency).select('money','money_avg').show()

+------------------+------------------+
|             money|         money_avg|
+------------------+------------------+
|            221.26|            221.26|
|             205.0|             205.0|
|            291.68|            291.68|
|            250.51|            250.51|
|             313.0|             313.0|
|             313.0|             313.0|
|             266.0|             266.0|
|               0.0|               0.0|
|151.03999999999996|151.03999999999996|
|504.15999999999997|504.15999999999997|
|             248.3|             248.3|
|             121.0|             121.0|
|               0.0|               0.0|
|              82.5|              82.5|
|              2.96|              2.96|
|            559.78|            559.78|
|1179.5900000000001| 589.7950000000001|
|             207.3|             207.3|
|            269.44|            269.44|
|            432.14|            432.14|
+------------------+------------------+
only showing top 20 rows

In [290]:
rfm_final = rfm.withColumn('money_avg', rfm.money / rfm.frecuency)

In [291]:
rfm_final.fillna(0)

DataFrame[frecuency: bigint, recency: int, money: double, money_avg: double]

In [292]:
rfm_final.describe().show()

+-------+------------------+------------------+-----------------+-----------------+
|summary|         frecuency|           recency|            money|        money_avg|
+-------+------------------+------------------+-----------------+-----------------+
|  count|            175333|            175333|           175333|           175333|
|   mean|1.2120764488145415| 134.6600639925171|540.5984852252573| 436.910261555405|
| stddev|0.7551303980127374|106.08618852812808|938.4173226041892|641.4966340047448|
|    min|                 1|                 1|              0.0|              0.0|
|    max|                22|               365|          38767.9|          13327.0|
+-------+------------------+------------------+-----------------+-----------------+

In [295]:
rfm_ordenado = df.toPandas.sort_values(by='money', ascending=False)
#fechas_vuelos = df.groupBy(df['departure_date_leg']).count().toPandas().sort_values(by='count', ascending=False)

AttributeError: 'function' object has no attribute 'sort_values'

In [296]:
rfm_final.groupby().('money').collect()

[Row(max(money)=38767.9)]

In [297]:
rfm_final.filter(rfm_final.money > 5000).count()

1216

In [298]:
rfm_final.orderBy(rfm_final.money.desc()).show(10)

+---------+-------+------------------+------------------+
|frecuency|recency|             money|         money_avg|
+---------+-------+------------------+------------------+
|        9|     41|           38767.9| 4307.544444444445|
|        7|     13|           29200.0| 4171.428571428572|
|        9|     51|          28753.01|3194.7788888888886|
|        8|     19|24386.489999999998|3048.3112499999997|
|        3|     74|          24326.03| 8108.676666666666|
|        4|     30|24285.129999999997| 6071.282499999999|
|        5|     29|           22896.0|            4579.2|
|        7|     39|          21056.29|3008.0414285714287|
|       10|     27|           19919.6|1991.9599999999998|
|       12|     23|          19126.41|         1593.8675|
+---------+-------+------------------+------------------+
only showing top 10 rows